<template>
  <v-app>
    <v-content>
      <v-btn @click="showNewTodo" class="primary">
        Add a todo
      </v-btn>

      <v-card v-if="isNewTodoVisible" class="new-todo-box">
          <v-card-title>
              TODO
          </v-card-title>
          <v-alert
            :value="true"
            color="error"
            icon="warning"
            outline
            v-if="isTodoTextEmpty"
          >
            The description is mandatory
          </v-alert>          
          <v-card-text>
          <v-textarea
                    solo
                    name="todo-desc"
                    label="Insert text here"
                    v-model="todotext"
                  ></v-textarea>
          </v-card-text>

            <v-menu
              v-model="menu"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >          
              <template v-slot:activator="{ on }">
                <v-text-field
                  v-model="date"
                  label="Select a date :"
                  prepend-icon="event"
                  readonly
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date" input="dateSelected"> </v-date-picker>
            </v-menu>
          
          <v-card-actions>
            <v-btn color="blue" @click="saveNewTodo">Save</v-btn>
            <v-btn color="blue" @click="hideNewTodo" @input="menu = false">Cancel</v-btn>
          </v-card-actions>        
      </v-card>

      <v-card>
          <v-card-title>
             TODO LIST
          </v-card-title>


          <div>
            <v-btn color="info" @click="showAllTodo">All todos</v-btn>
            <v-btn color="info" @click="showDoneTodo">Done todos</v-btn>
            <v-btn color="info" @click="showNotDoneTodo">Not done todos</v-btn>
          </div>


      <v-list two-line>
        <template v-for="(todo, index) in todos">

        <template  v-if="showAll || (todo.statut == 'DONE' && showDoneOnly) || (todo.statut == 'TODO' && showNotDoneOnly)">
          <v-list-tile>

            <v-list-tile-content>

                <v-list-tile-title v-html="todo.date"></v-list-tile-title>
                <v-list-tile-sub-title v-html="todo.statut"></v-list-tile-sub-title>
                <v-list-tile-sub-title v-html="todo.description"></v-list-tile-sub-title>
            </v-list-tile-content>
                <v-list-tile-action>
                  <v-btn fab small color="primary" @click="checkTodo(todo)">
                    <v-icon >done</v-icon>
                  </v-btn>
                  </v-list-tile-action>
                  <v-list-tile-action>
                <v-btn fab dark small color="primary"  @click="deleteTodo(todo)">
                  <v-icon >delete</v-icon>
                </v-btn>
                </v-list-tile-action>



          </v-list-tile>
          </template>
          <v-divider></v-divider>

        </template>


      </v-list>

</v-card>
    </v-content>

  </v-app>


</template>
<script>

export default {
  data(){
    return {
      isNewTodoVisible : false,
      date: "",
      menu: false,
      todotext: "",
      isTodoTextEmpty:false,
      showDoneOnly: false,
      showAll: true,
      showNotDoneOnly: false,
    }
  },
  computed: {
    todos () { return this.$store.state.todos.list }
  },
  methods: {
    showNewTodo(e) {
      this.date = ""
      this.todotext = ""
      this.isNewTodoVisible = true
    },
    saveNewTodo(){

      if(!this.todotext){
        this.isTodoTextEmpty = true;
        return;
      }
      this.isTodoTextEmpty = false;
      this.isNewTodoVisible = false;
      this.$store.commit('todos/add', {text:this.todotext,date:this.date})
    },
    hideNewTodo(e) {
      this.isNewTodoVisible = false
    },
    showAllTodo(){
      this.showDoneOnly = false;
      this.showAll = true;
      this.showNotDoneOnly = false;
    },
    showDoneTodo(){
      this.showDoneOnly = true;
      this.showAll = false;
      this.showNotDoneOnly = false;      
    },
    showNotDoneTodo(){
      this.showDoneOnly = false;
      this.showAll = false;
      this.showNotDoneOnly = true;      
    },
    checkTodo(todo){
      this.$store.commit('todos/toggle', todo)
    },
    deleteTodo(todo){
      this.$store.commit('todos/remove', todo)
    }
  }
}
</Script>
<style lang="styl">
.new-todo-box
  max-width 600px
  margin 20px
</Style>